*{
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: blanchedalmond;
    background-image: radial-gradient(circle, #ba1995, #3a1995);
    background-repeat: no-repeat;
}

.grid-container  {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    border: 2px solid coral;
    /* place-items: center; */
}

.grid-item {
    display: flex;
    border: 1px solid burlywood;
    /* margin: 15px; */
    /* padding: 15px; */
    justify-content: center;
    align-items: center;
}

.nested {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 16px;
    padding: 10px;
}

.item-nested {
    padding: 10px;
}

.item-nested:first-child,
.item-nested:nth-child(4) {
    background-color: #77abcd;
}

.item-nested:nth-child(3),
.item-nested:nth-child(6) { 
    background-color: cornflowerblue;
}